<!-- <form action="" [formGroup]="form">
  <mat-card class="content-container" *ngFor="let props of todoValue">
    <mat-card-content>
      <mat-form-field>
        <mat-label>add something</mat-label>
        <input type="text" matInput formControlName="task" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <mat-label>priority level</mat-label>
        <mat-select formControlName="valuePriority">
          <mat-option
                      *ngFor="let item of props.todoValuePriority"
                      [ngClass]="item"
                      [value]="item">{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-checkbox formControlName="completed" (click)="completed(props)">completed</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="addTask()">add</button>
    </mat-card-actions>
  </mat-card>
</form> -->
