<mat-form-field class="todo-list__container">
  <input matInput type="text" [(ngModel)]="newTask.taskCategory">
</mat-form-field>

<button mat-raised-button (click)="addTask()">add todo</button>

<mat-accordion multi>
  <mat-expansion-panel *ngFor="let task of tasks">
    <mat-expansion-panel-header>
      <mat-panel-title>{{task.taskCategory}}</mat-panel-title>
      <mat-panel-description>{{task.taskTitle}}</mat-panel-description>
    </mat-expansion-panel-header>
    {{task.taskDescription}}
    <mat-icon (click)="deleteTask(task.id)">delete todo</mat-icon>
    <input matInput [(ngModel)]="task.taskCategory">
    <!-- <mat-icon (click)="editTask(task.id, task)">edit</mat-icon> -->

  </mat-expansion-panel>
</mat-accordion>
