@import '../../../styles/mixins';

.todo-list {
  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__table{
    text-align: center;
    height: 400px;
    width: 300px;
  }
  &__checkbox{
    margin-top: auto;
  }

  &__task{
    display: flex;
    justify-content: center;

    &__todo{
      margin: 5px;
    }
  }


}
